html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh; 
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('../img/munch.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center center;
    font-family: Arial, sans-serif;
    color: #333;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    flex-direction: column;
}
