body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('../img/bg.jpg');
    background-size: cover; /* 使背景图覆盖整个页面 */
    background-repeat: no-repeat; /* 防止背景图重复 */
    background-position: center center; /* 背景图居中 */
    font-family: Arial, sans-serif;
    color: #333;
}

.container {
    background-color: rgba(255, 255, 255, 0.8); /* 半透明的背景色 */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 18px;
}
